/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 500;
}

body {
    min-width: 800;
}

.main {
    width: 100%;
    height: 100vh;
    background: #282828;
}

.bold-text {
    font-weight: bold;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}



/* Navigation Bar */

.side-nav {
    width: 210px;
    height: 100%;
    background: #0d74f5;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.nav-links {
    list-style: none;
    position: relative
}

.nav-links li {
    padding: 10px 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}

.active {
    background: #fff;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: top 0.5s;
}

.nav-links li:hover a {
    color: #0d74f5;
    transition: 0.3s;
}

.nav-links li:hover~.active {
    display: block;
}

.nav-links li:nth-child(1):hover~.active {
    top: 1.3%;
}

.nav-links li:nth-child(2):hover~.active {
    top: 12.41%;
}

.nav-links li:nth-child(3):hover~.active {
    top: 23.52%;
}

.nav-links li:nth-child(4):hover~.active {
    top: 34.63%;
}

.nav-links li:nth-child(5):hover~.active {
    top: 45.74%;
}

.nav-links li:nth-child(6):hover~.active {
    top: 56.85%;
}

.nav-links li:nth-child(7):hover~.active {
    top: 67.96%;
}

.nav-links li:nth-child(8):hover~.active {
    top: 79.07%;
}

.nav-links li:nth-child(9):hover~.active {
    top: 90.18%;
}

/* Content Window */

.splash-image {
    width: 400px
}

.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content {
    width: calc(100% - 210px);
    height: 100%;
    margin-left: 210px;
    padding: 20px 20px;
}

.show-view {
    display: grid;
    grid-template-rows: 25px 40px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.movie-view {
    display: grid;
    grid-template-rows: 25px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.short-view {
    display: grid;
    grid-template-rows: 25px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.music-view {
    display: grid;
    grid-template-rows: 25px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.commercial-view {
    display: grid;
    grid-template-rows: 25px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.promo-view {
    display: grid;
    grid-template-rows: 25px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.episode-path-group {
    display: grid;
    grid-template-columns: 16px 1fr;
    align-items: center;
}

.episode-path-group-no-icon {
    display: grid;
    grid-template-columns: 0px 1fr;
    align-items: center;
}

.episode-warning {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    height: 16px;
    color: #ff8a00;
    font-weight: bold;
    margin-left: 2px;
    cursor: default;
}

.general-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    width: 45px;
    height: 19px;
}

.long-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    width: 100px;
    height: 19px;
}

.longer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    width: 120px;
    height: 19px;
}

.show-data {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 120px 50px 1fr 160px 4fr 100px;
}

.title-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.small-text {
    font-size: 12px;
}

.medium-text {
    font-size: 14px;
}

.large-text {
    font-size: 18px;
}

.tiny-horz-padding {
    padding-left: 2px;
    padding-right: 2px;
}

.small-horz-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.show-content {
    height: 366px;
}

.movie-content {
    height: 406px;
}

.short-content {
    height: 406px;
}

.music-content {
    height: 406px;
}

.commercial-content {
    height: 406px;
}

.promo-content {
    height: 406px;
}

.content-window {
    border: 1px solid #0d74f5;
    border-radius: 2px;
    padding: 2px 2px;
    margin-bottom: 5px;
    /* Set a fixed height */
    overflow-y: auto;
    /* Add a scrollbar when content exceeds the height */

    /* WebKit browsers (Chrome, Safari) */
    scrollbar-width: thin;
    scrollbar-color: #0d74f5 transparent;
}

/* Firefox */
.content-window::-webkit-scrollbar {
    width: 10px;
}

/* WebKit browsers (Chrome, Safari) */
.content-window::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* Set the radius to make it pill-shaped */
    background-color: #0d74f5;
}

/* Firefox */
.content-window::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* Set the radius to make it pill-shaped */
    background-color: #0d74f5;
}

/* Remove up and down buttons */
.content-window::-webkit-scrollbar-button {
    display: none;
}

/* Remove up and down arrows for Firefox */
.content-window::-moz-scrollbar-up,
.content-window::-moz-scrollbar-down {
    display: none;
}

/* Hide the default track */
.content-window::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Remove up and down arrows */
.content-window::-webkit-scrollbar-track-piece:start,
.content-window::-webkit-scrollbar-track-piece:end {
    background-color: transparent;
}

.selection-entry {
    display: grid;
    grid-template-columns: 20px 20px 30px 1fr;
    align-items: center;
    justify-content: center;
}

.alt-selection-entry {
    display: grid;
    grid-template-columns: 20px 100px 22px 100px 1fr;
    align-items: center;
    justify-content: center;
}

.selection-path {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.scrollable-div {
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    text-align: left;
}

.selected-path-div {
    padding-left: 2px;
    padding-right: 5px;
}

.scrollable-div::before,
.scrollable-div::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background: transparent;
}

.scrollable-div::before {
    left: 0;
}

.scrollable-div::after {
    right: 0;
}

.scrollable-div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.number-input {
    width: 30px;
    height: 16px;
}

.movie-input {
    width: 100px;
    height: 16px;
}

.clickable {
    cursor: pointer;
}

.remove-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.check-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00ff00;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

.x-align {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.remove-button:hover {
    background: #ff0000;
    color: #ffffff;
}

.reset-button {
    background-color: #f0f0f0;
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
}

.text-input {
    width: 100%;
    height: 100%;
    border: 1px solid #0d74f5;
    border-radius: 2px;
    padding: 2px 4px;
}

#check-title-button {
    margin-left: 5px
}

.tiny-padding {
    padding: 2px 2px;
}

.micro-padding {
    padding: 1px 1px;
}

.warning-block {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-bottom: 4px;
    height: 16px;
    color: #c00000;
    font-weight: bold;
    margin-left: 2px;
    cursor: default;
    height: 50px;
}

/* CSS for the warning element */
.warning-icon {
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-right: 5px;
    animation: glow 2s infinite;
    margin-bottom: 5px;
}

/* CSS for the glowing effect animation */
@keyframes glow {
    0% {
        color: #ffffff;
        text-shadow: rgb(106, 0, 255) 1px 0 10px;
        /* Start with a subtle glow effect */
    }

    50% {
        color: #ff4500;
        text-shadow: rgb(106, 0, 255) 1px 0 15px;
        /* Increase the glow effect */
    }

    100% {
        color: #ffffff;
        text-shadow: rgb(106, 0, 255) 1px 0 10px;
        /* Return to the original glow effect */
    }
}

/* #show-page-error {} */

/* Testing */

.red {
    background: #ff0000;
}

.blue {
    background: #0d74f5;
}

.green {
    background: #00ff00;
}

.yellow {
    background: #ffff00;
}

.purple {
    background: #800080;
}

.orange {
    background: #ffa500;
}