/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 500;
}

body {
    min-width: 800;
}

.side-nav {
    display: grid;
    grid-template-rows: 1fr 52px 52px 52px 52px 52px 52px 52px 52px 52px 1fr;
    height: 576px;
}



.nav-buffer {
    display: flex;
    height: 100%;
    background: #0d74f5;

}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 52px;
    background: #0d74f5;
    color: #ffffff;
}

.nav-button:hover {
    background: #71a6e7;
    color: #303030;
}

.main {
    display: grid;
    grid-template-columns: 210px 1fr;
    width: 800;
    height: 100%;
    background: #ffffff;
}

.bold-text {
    font-weight: bold;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

/* Content Window */

.splash-image {
    width: 400px
}

.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content {
    width: 540px;
    height: 100%;
    padding: 20px 20px;
}

.show-view {
    display: grid;
    grid-template-rows: 25px 1fr;
    height: 100%;
    min-width: 540px;
}

.show-create-view {
    display: grid;
    grid-template-rows: 40px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.show-manage-view {
    display: grid;
    grid-template-rows: 25px 1fr 50px;
    height: 100%;
    min-width: 540px;
}

.movie-view {
    display: grid;
    grid-template-rows: 25px 1fr;
    height: 100%;
    min-width: 540px;
}

.movie-create-view {
    display: grid;
    grid-template-rows: 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.movie-manage-view {
    display: grid;
    grid-template-rows: 25px 1fr 50px;
    height: 100%;
    min-width: 540px;
}

.short-view {
    display: grid;
    grid-template-rows: 25px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.music-view {
    display: grid;
    grid-template-rows: 25px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.commercial-view {
    display: grid;
    grid-template-rows: 25px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.promo-view {
    display: grid;
    grid-template-rows: 25px 25px 1fr 25px 50px;
    height: 100%;
    min-width: 540px;
}

.path-group {
    display: grid;
    grid-template-columns: 16px 1fr;
    align-items: center;
}

.path-group-no-icon {
    display: grid;
    grid-template-columns: 0px 1fr;
    align-items: center;
}

.path-managhement-group {
    display: flex;
    align-items: center;
}

.path-transform-warning {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
    height: 16px;
    color: #ff8a00;
    font-weight: bold;
    margin-left: 2px;
    cursor: default;
}

.general-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    width: 45px;
    height: 19px;
}

.long-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    width: 100px;
    height: 19px;
}

.longer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    width: 120px;
    height: 19px;
}

.show-data {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 120px 50px 1fr 160px 4fr 100px;
}

.title-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.smaller-text {
    font-size: 11px;
}

.small-text {
    font-size: 12px;
}

.medium-text {
    font-size: 14px;
}

.large-text {
    font-size: 18px;
}

.tiny-horz-padding {
    padding-left: 2px;
    padding-right: 2px;
}

.small-horz-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.show-content {
    height: 366px;
}

.movie-content {
    height: 406px;
}

.short-content {
    height: 406px;
}

.music-content {
    height: 406px;
}

.commercial-content {
    height: 406px;
}

.promo-content {
    height: 406px;
}

.content-window {
    border: 1px solid #0d74f5;
    border-radius: 2px;
    padding: 2px 2px;
    margin-bottom: 5px;
    /* Set a fixed height */
    overflow-y: auto;
    overflow-x: hidden;
    /* Add a scrollbar when content exceeds the height */

    /* WebKit browsers (Chrome, Safari) */
    scrollbar-width: thin;
    scrollbar-color: #0d74f5 transparent;
}

/* Firefox */
.content-window::-webkit-scrollbar {
    width: 10px;
}

/* WebKit browsers (Chrome, Safari) */
.content-window::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* Set the radius to make it pill-shaped */
    background-color: #0d74f5;
}

/* Firefox */
.content-window::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* Set the radius to make it pill-shaped */
    background-color: #0d74f5;
}

/* Remove up and down buttons */
.content-window::-webkit-scrollbar-button {
    display: none;
}

/* Remove up and down arrows for Firefox */
.content-window::-moz-scrollbar-up,
.content-window::-moz-scrollbar-down {
    display: none;
}

/* Hide the default track */
.content-window::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Remove up and down arrows */
.content-window::-webkit-scrollbar-track-piece:start,
.content-window::-webkit-scrollbar-track-piece:end {
    background-color: transparent;
}

.selection-entry {
    display: grid;
    height: 16px;
    grid-template-columns: 20px 20px 30px 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.alt-selection-entry {
    display: grid;
    height: 16px;
    grid-template-columns: 20px 100px 100px 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.buffer-selection-entry {
    display: grid;
    grid-template-columns: 20px 100px 1fr;
    align-items: center;
    justify-content: center;
}

.scrollable-div {
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    text-align: left;
}

.scrollable-div::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.selected-path-div {
    padding-left: 2px;
    padding-right: 5px;
}

.error-message-span {
    color: white;
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 0.5s, transform 0.5s 0.5s;
    font-size: 11px;
}

.error-path-span {
    color: #000;
    opacity: 0;
    transform: translateX(280px);
    transition: opacity 0.5s, transform 0.5s 0.5s;
    font-size: 11px;
}

.scrollable_section {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    flex-shrink: 0;
    padding: 0 4px;
}

.scrollable_section::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.entry-error {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
    font-weight: bold;
    margin-left: 2px;
    cursor: default;
}

.error-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 0;
    height: 16px;
    background: #b22222;
    overflow: hidden;
    white-space: nowrap;
    transition: all 1s;
}

.toggle-error-message {
    background-color: rgb(255, 255, 255);
}

.toggle-error-message .error-message-span {
    opacity: 0;
    transform: translateX(-280px);
}

.toggle-error-message .error-path-span {
    opacity: 1;
    transform: translateX(-280px);
}

.number-input {
    width: 30px;
    height: 16px;
}

.media-input {
    width: 100px;
    height: 16px;
}

.movie-management-tags {
    width: 100%;
    height: 16px;
}

.clickable {
    cursor: pointer;
}

.remove-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ff0000;
    color: #ffffff;
    width: 16px;
    height: 16px;
    cursor: pointer;
    font-size: 11px;
    padding-bottom: 1px;
}

.check-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00ff00;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-left: 3px;
}

.x-align {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.reset-button {
    background-color: #f0f0f0;
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
}

.text-input {
    width: 100%;
    height: 100%;
    border: 1px solid #0d74f5;
    border-radius: 2px;
    padding: 2px 4px;
}

.transparent-div {
    opacity: 0;
}

#check-title-button {
    margin-left: 5px
}

.tiny-padding {
    padding: 2px 2px;
}

.micro-padding {
    padding: 1px 1px;
}

.warning-block {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-bottom: 4px;
    height: 16px;
    color: #c00000;
    font-weight: bold;
    margin-left: 2px;
    cursor: default;
    height: 50px;
}

/* CSS for the warning element */
.warning-icon {
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-right: 5px;
    animation: glow 2s infinite;
    margin-bottom: 5px;
}

.success-icon {
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-right: 5px;
    color: #00ff00;
    margin-bottom: 5px;
}

.error-fade-in {
    opacity: 0;
    animation: fadeIn 0.2s ease-in-out forwards;
}

.error-fade-out {
    opacity: 1;
    animation: fadeOut 0.2s ease-in-out forwards;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.error-view-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ff0000;
    color: #ffffff;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        /* Start off-screen to the right */
    }

    to {
        transform: translateX(0);
        /* Slide in to the normal position */
    }
}

@keyframes expandFullWidth {
    to {
        width: 100%;
    }
}

@keyframes expandErrorWidth {
    to {
        width: 280px;
    }
}

.entry-error-expand {
    animation: expandErrorWidth .2s forwards;
}

.slide-in-from-right {
    animation: slideInFromRight 0.5s ease-in-out;
}

@keyframes glow {
    0% {
        color: #ffffff;
        text-shadow: rgb(106, 0, 255) 1px 0 10px;
        /* Start with a subtle glow effect */
    }

    50% {
        color: #ff4500;
        text-shadow: rgb(106, 0, 255) 1px 0 15px;
        /* Increase the glow effect */
    }

    100% {
        color: #ffffff;
        text-shadow: rgb(106, 0, 255) 1px 0 10px;
        /* Return to the original glow effect */
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* #show-page-error {} */

/* Testing */

.red {
    background: #ff0000;
}

.dark-red {
    background: #b22222;
}

.blue {
    background: #0d74f5;
}

.green {
    background: #00ff00;
}

.yellow {
    background: #ffff00;
}

.purple {
    background: #800080;
}

.orange {
    background: #ffa500;
}

.update-button-color {
    background: #00929f;
}

.delete-button-color {
    background: #f34121;
}

.movie-management-entry {
    display: grid;
    height: 16px;
    grid-template-columns: 55px 33px 70px 105px 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.show-management-entry {
    display: grid;
    height: 16px;
    grid-template-columns: 55px 33px 200px 60px 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.delete-switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.delete-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 8px;
}

.delete-slider:before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.delete-switch.on .delete-slider {
    background-color: #f34121;
}

.delete-switch.on .delete-slider:before {
    transform: translateX(16px);
}

.update-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    width: 52px;
    height: 16px;
    cursor: pointer;
    font-size: 11px;
    margin-right: 3px;
}

.management-title {
    display: flex;
    align-items: center;
    height: 16px;
    width: 197px;
    margin-left: 3px;
    cursor: default;
}